.courses-page {
	margin-top: 150px;
}

.courses-inform h1 {
	color: limegreen;
	font-size: 40px;
	text-align: center;
	font-family: Raleway;
}

.courses {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	background: transparent;
}

.course {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
	background-color: aliceblue;
}

.courses-w {
	background-color: rgb(222, 240, 222);
	padding: 100px 0;
	margin-top: 100px;
	margin-bottom: 50px;
}

.course:hover {
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.9);
}

.course-image {
	width: 100%;
}

.course-image img {
	width: 100%;
}

.course-info {
	padding: 20px;
	position: relative;
}

.course-info h2 {
	font-size: 32px;
	font-family: Raleway;
	margin-bottom: 10px;
	color: limegreen;
}

.course-info p {
	font-size: 18px;
	font-family: Raleway;
	color: #4e4b66;
	margin-bottom: 10px;
}

.courses-w .btn-secondary {
	margin: 50px 35% 0px 40%;
	width: 160px;
}

@media (max-width: 767px) {
	.courses {
		grid-template-columns: 1fr;
	}

	.courses-w .btn-secondary {
		margin-left: 30%;
		width: 160px;
	}
}
